*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: Open Sans, sans-serif;
}

nav{
	padding: 0.8 rem;
	margin-bottom: 2 rem;
	border-bottom: 1px solid grey;
	list-style: none;
}

nav .nav, nav .nav-logo{
	margin: 0.5 rem;
	display: inline;
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
	text-align: center;

}

#succeed-info{
	text-align: center;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-align: justify;
}

footer{
	padding: 0.7rem;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer{
	background-color: #002540;
	
}
#pre-footer div{
	display: inline-block;
	color: white;
	margin-top: 10px;
	margin-right: 1rem;
	margin-left: 1rem;
	padding: .5rem;
	width: 20%;
	vertical-align: top;
}

